main .editor.hidden {
    display: none;
}

main .editor .btn {
    background-color: whitesmoke;
    border-radius: 0.4500112em;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

main .editor .btn:hover {
    text-align: center;
    background-color: #ff5700;
    box-shadow: 2px 2px 10px rgb(255, 108, 108);
}

.editor button img {
    width: 1.875rem;
    height: 1.875rem;
}


main .editor .controls-container>.btn {
    width: max-content
}

.editor .controls-container .line-text {
    font-size: 1.25rem;
    padding: 0.75em;
    border-radius: 0.5em;
    border: none;
}

.editor .controls-container select.font-family {
    font-size: 1.2em;
}

button.change-color {
    position: relative;
}

.change-color input.color-picker {
    position: relative;
    opacity: 0;
    z-index: 50;
}


.change-color img.color-picker-img {
    position: absolute;
    right: 15px;
}

.editor .stickers-container .sticker {
    font-size: 1.5em;
    width: 1.75em;
}