.flex {
    display: flex;
}

.flex.column {
    flex-direction: column;
}

.flex.justify-space {
    justify-content: space-between;
}

.flex.align-center {
    align-items: center;
}

.grid {
    display: grid;
}